<div class="container">
  <% if @short_url != "" %>
<%= @short_url.errors.full_messages %><br><br>
<% end %>

<form action='/' method='post'>
  Insert Url to shorten: <input type="text" name="long_url"><br>
  <input type="submit" name="submit">
</form>
</div>
