Long URL: <%= @long_url %><br>
Short URL: <a href="<%="http://#{request.host_with_port}/" + @generated_url %>"><%="http://#{request.host_with_port}/" + @generated_url %></a>
<br>
<br>
COUNT: <%= @counter %>
<br>
<br>
<a href="/">Return to Home</a>